@inject IWebHostEnvironment env;

@{
    ViewData["Title"] = "Projetos";
    /*
     * temporary solutions
     * intended to be result from database
     */
    var result = "";
    Array projectsFileData = null;
    char[] delimiterChar = { ';' }; 

    var path = System.IO.Path.Combine(env.WebRootPath, "Projects.txt");
    bool fileExists = File.Exists(path);
    if (fileExists)
    {
        projectsFileData = File.ReadAllLines(path);
        if (projectsFileData == null)
        {
            // Empty file.
            result = "Erro na página: Lista de projetos vazia.";
        }
    }
    else
    {
        // File does not exist.
        result = "Erro na página: Arquivo com lista de projetos não foi encontrado.";
    }
}

<div class="text-center">
    <h1 class="display-4"><b>Projetos</b></h1>
    <hr>
    @if (projectsFileData == null)
    {
        @result
    }else
    {
    <ul class="projects__list">
            @for (int index=0; index<projectsFileData.Length;index++)
            {
                var rawContentLine = projectsFileData.GetValue(index);
                if (rawContentLine is not null)
                {
                    string contentLine = rawContentLine.ToString();
                    string currLabel = "projects__expand" + index;
                    Array projectContents = contentLine.Split(';');
                    <li class="projects__list-item clearfix">
                        <div class="projects__card-image-container">
                            <img src="@projectContents.GetValue(1)" class="projects__card-portrait" alt="@projectContents.GetValue(0)">
                        </div>
                        <section class="projects__card-text">
                            <label for="@currLabel">@projectContents.GetValue(0)</label>
                            <input type="checkbox" id="@currLabel" class="projects__expand" />
                            <div class="projects__card-description">
                                @if (projectContents.GetValue(2) is not null && projectContents.GetValue(2).ToString().Length > 0)
                                {
                                    Array descriptionContents = projectContents.GetValue(2).ToString().Split('|');
                                    <span style="white-space: pre-line">
                                        @foreach (string descriptionLine in descriptionContents)
                                        {
                                            <p>@descriptionLine</p>
                                        }
                                    </span>
                                }
                                <div class="projects__card-link">
                                    @for (int i = 3; i < projectContents.Length - 1; i += 2)
                                    {
                                        <a href="@projectContents.GetValue(i+1)">Disponível em @projectContents.GetValue(i)</a>
                                    }
                                </div>
                        </div>
                    </section>
                </li>
                }
            }
        </ul>
    }
</div>
